<h3>Welcome to the homepage</h3>

<h5>Here's a list of all users</h5>


<ul>
  <% @users.each do |user| %>

    <li> 
      <%= user.username %>
      <form action="<%= user_url(user) %>" method="get">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
        <button>show page of user</button>
      </form> 
    </li>
    
  <% end %>
</ul>

<form action="<%= subs_url %>" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
  <button>See all the subs</button>
</form> 
