<h2><%= @user.username %>'s Page</h2>

<form action="<%= users_url %>" method="GET">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
  <button>Users Index</button>
</form>

<ul>
  <% @user.subs.each do |sub| %>
    <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
  <% end %>
</ul>