<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <span>Hello <%=current_user.user_name%>!</span>
        <form style="display:inline-block" class="button_to" method="post" action="<%=session_url%>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Log out">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        </form>
      <% else %>
        <form style="display:inline-block" class="button_to" method="post" action="<%=new_session_url%>">
          <input type="hidden" name="_method" value="get">
          <input type="submit" value="Log in">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        </form>
        <span> or </span>
        <form style="display:inline-block" class="button_to" method="post" action="<%=new_user_url%>">
          <input type="hidden" name="_method" value="get">
          <input type="submit" value="Sign up">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        </form>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
